.modal_wrapper {
  height: 100%;
  width: 100%;
  z-index: 999;
  
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  display: flex;
}

.modal_window {
  top: 50%;
  left: 50%;
  width: 500px;
  height: 300px;
  border-radius: 7px;
  padding: 20px;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  position: absolute;
  box-sizing: border-box;
  transform-origin: left top;
  background: white;
  font-family: Arial;
}

.text {
  font-size: 20px;
  text-align: center;
}

.button {
  font-size: 14px;
  color: white;
  background: #0087ff;
  border-radius: 5px;
  border: none;
}

.button:hover {
  filter: brightness(1.2);
}