.header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  background: #1e1f22;
  position: fixed;

  z-index: 21;
  width: 100%;
  height: 100%;
  max-height: 60px;
  padding: 5px 5px;
}

.logo {
  height: 50px;
}

.dropdown {
  margin-left: 20px;
}

.undo_arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  margin-left: 20px;
}

.redo_arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  margin-left: 16px;
}

.undo_arrow, .redo_arrow, .layer_button, .delete_button {
  background: none;
  border: none;
}

.undo_arrow, .redo_arrow {
  fill: hsla(0, 0%, 100%, .8);
}

.layer_buttons {  
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.layer_button:last-child {
  margin-left: 5px;
}

.delete_button {
  margin-left: 20px;
}

.icon:hover {
  fill: hsla(0, 0%, 100%, 1);
}

.file_input {
  display: none;
}