/* Sidebar */

.sidebar {
  display: flex;
}

.menu {
  display: flex;
  flex-direction: column;
  background: #1e1f22;
  box-sizing: border-box;
  padding-top: 5px;

  width: 72px;
  height: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 50px;
}

.icon {
  filter: invert(0.7);
}

.button:hover .icon {
  filter: invert(1);
}

/* Content */

.content {
  background-color: #2B2C2F;

  height: 100%;
  width: 300px;
}

/* Expander */

.expander {
  background-color: #2B2C2F;
  position: absolute;
  top: 50%;

  height: 80px;
  width: 14px;
  border-radius: 0 15px 15px 0;
}

.arrow {
  fill: #9da2ad;
  position: absolute;

  top: 45%;
  left: 2px;
}

.openArrow {
  transform: rotate(180deg);
}

.expander_block:hover .arrow {
  fill: rgb(200, 200, 200)
}

/* Stickers panel */

.stickers {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
  padding: 15px 5px 15px 5px;
}

.stickerList_filler {
  width: 80px;
}

.sticker_wrapper, .stickerList_filler {
  border-radius: 3px;
  padding: 4px;
  margin-bottom: 10px;
}

.sticker_wrapper:hover {
  background-color: #333437;
}

.sticker {
  width: 80px;
  height: 80px;
}

/* Image panel */

.images {
  display: flex;
  justify-content: center;
  
  padding: 15px 5px 15px 5px;
}

.file_input {
  display: none;
}

/* Text panel */

.texts {
  
}