/* Sidebar */

.sidebar {
  display: flex;
}

.menu {
  display: flex;
  flex-direction: column;
  background: #1e1f22;
  box-sizing: border-box;
  padding-top: 5px;

  width: 72px;
  height: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 50px;
}

.icon {
  filter: invert(0.7);
}

.button:hover .icon {
  filter: invert(1);
}

/* Content */

.content {
  background-color: #2B2C2F;

  height: 100%;
  width: 300px;
}

/* Expander */

.expander {
  background-color: #2B2C2F;
  position: absolute;
  top: 50%;

  height: 80px;
  width: 14px;
  border-radius: 0 15px 15px 0;
}

.arrow {
  fill: #9da2ad;
  position: absolute;

  top: 45%;
  left: 2px;
}

.openArrow {
  transform: rotate(180deg);
}

.expander_block:hover .arrow {
  fill: rgb(200, 200, 200)
}

/* Stickers panel */